body {
  background-color: black;



}


#container {
  position:absolute;
  height:100%;
  width: auto;
  border:10px solid black;
  top:calc(80% - 100px);
  left:calc(75% - 350px);
  overflow:hidden;

}
.whitenote {
  height:20%;
  width:30px;
  background: white;
  float:left;
  border-right:1px solid black;
  position:relative;
}

.blacknote{
  position:absolute;
  height:65%;
  width:20px;
  z-index:1;
  background:black;
  left:68%;

}

.controls {



}

#gain {
 position: absolute;
 color: white;
 padding: 10px;


}

#LPFilter {
  position: absolute;
  left: 100px;
  color: white;
  padding: 10px;
  bottom: 0px;

}

#HPFilter {
  position: absolute;
  left: 100px;
  color: white;
  padding: 10px;
  bottom: 0px;

}

#ampEnv {
  position: absolute;
  padding: 10px;
  top: 120px;
  left: -60px;

}

#oscilloscope {

  position: absolute;
  padding: 10px;
  top: 120px;
  right: 200px;

}

.wave-selector {

 position: absolute;
 top: 150px;
 color: white;


}

#piano {

 position: absolute;
 top: 400px;

}
