body {
  background-color: black;



}


#container {
  position:absolute;
  height:100%;
  width: auto;
  border:10px solid black;
  top:calc(80% - 100px);
  left:calc(50% - 200px);
  overflow:hidden;

}
.whitenote {
  height:20%;
  width:30px;
  background: white;
  float:left;
  border-right:1px solid black;
  position:relative;
}

.blacknote{
  position:absolute;
  height:65%;
  width:20px;
  z-index:1;
  background:black;
  left:68%;

}

.controls {



}

#dials-container{


}

#gain {
 position: absolute;
 color: white;
 padding: 10px;
 left:calc(50% - 200px);


}

#LPFilter {
  position: relative;
  left: 100px;
  color: white;
  padding: 10px;
  left:calc(50% - 100px);


}

#HPFilter {
  position: relative;
  left: 200px;
  color: white;
  padding: 10px;
  top: -95px;
  left:calc(50% - 0px);


}

#verb {
  position: relative;
  left: 300px;
  color: white;
  padding: 10px;
  top: -190px;
  left:calc(50% - -100px);


}

#FBDelay {
  position: relative;
  left: 400px;
  color: white;
  padding: 10px;
  top: -285px;
  left:calc(50% - -200px);


}

#ampEnv {
  position: relative;
  padding: 10px;
  top: -250px;
  left: 250px;

}



#oscilloscope {

  position: relative;
  padding: 10px;
  top:calc(80% - 100px);
  left:calc(50% - 200px);
  top: -100px;
  border: 2px;
  border-style: solid;
  border-color: white;


}

.wave-selector {

 position: absolute;
 top: 150px;
 color: white;
 left:calc(50% - 200px);


}
